<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Super Cars Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script
        src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
</head>

<body class="d-flex flex-column min-vh-100">

    <!--Add a nav bar here -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand text-warning" href="{% url 'djangoapp:index' %}">Super Cars</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <!-- <a class="nav-item nav-link active" href="#">Home</a> -->
                    <a class="nav-item nav-link" href="{% url 'djangoapp:about' %}">About Us</a>
                    <a class="nav-item nav-link" href="{% url 'djangoapp:contact' %}">Contact</a>
                    {% if user.is_authenticated %}
                    <a class="btn btn-link text-warning disabled" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link text-warning" href="{% url 'djangoapp:logout' %}">Logout</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <form action="{% url 'djangoapp:signup' %}" method="POST">
        {% csrf_token %}
        <div class="container mt-4">
            <h1 class="text-warning">Sign Up</h1>
            {% if message %}
            <div class="card bg-light mt-4 mb-3 w-100" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="text-danger">Error</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ message }}</p>
                </div>
            </div>
            {% endif %}
            <div class="form-group">
                <label for="username"><b>User Name</b></label>
                <input id="username" class="form-control" type="text" placeholder="Enter User Name: " name="username" required>
                <label for="firstname"><b>First Name</b></label>
                <input id="firstname" class="form-control" type="text" placeholder="Enter First Name: " name="firstname" required>
                <label for="lastname"><b>Last Name</b></label>
                <input id="lastname" class="form-control" type="text" placeholder="Enter Last Name: " name="lastname" required>
                <label for="psw"><b>Password</b></label>
                <input id="psw" class="form-control" type="password" placeholder="Enter Password: " name="psw" required>
            </div>
            <button class="btn btn-success mt-3" type="submit">Sign Up</button>
        </div>
    </form>

    <footer class="mt-auto">
        <!-- <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);"> -->
        <div class="text-center p-2 navbar-dark bg-dark">
            <em class="text-muted">© 2021 Copyright: </em>
            <a class="fw-bold text-warning" href="{% url 'djangoapp:index' %}">SuperCars</a>
        </div>
    </footer>
</body>

</html>